doctype html
html
    head
        title=title
        meta(name='description', content=description)
        meta(name='author', content=author)
        meta(property='og:title', content=title)
        meta(property='og:image', content='http://jasonpark.me/DuoCoder/branding/screenshot.png')
        meta(property='og:description', content=description)
        link(rel='stylesheet', href='stylesheet.css')
        script(type='text/javascript', src='script.js')
    body
        div.page.page-main
            div.eye.eye-left
            div.eye.eye-right