mixin template(lang)
  html
    - const en = lang === 'en'
    head
      title=title
      meta(name='description', content=description)
      meta(name='author', content=author)
      meta(property='og:title', content=title)
      meta(property='og:image', content='/screenshot.png')
      meta(property='og:description', content=description)
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      meta(name='viewport' content='width=device-width, user-scalable=no')
      link(rel='stylesheet', href='/stylesheet.css')
      script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
      script(type='text/javascript', src='/script.js')
      script(type='text/javascript', src='/lib/shapes-polyfill.min.js', data-auto-run='false')
      script(type='text/javascript', src='/lib/jquery.form.min.js')
      link(rel='stylesheet', href='/fonts/baskerville/stylesheet.css')
      link(rel='stylesheet', href='/fonts/seoul-namsan-jang-l/stylesheet.css')
      link(rel='stylesheet', href='/fonts/seoul-namsan-jang-eb/stylesheet.css')
    body.desktop.loading
      div.champagne
      div.page-main
        div.fake.band
        div.section-face
          video.background(src='/img/main/video-center.mp4', autoplay, muted, loop)
          div.band
            div.label
              div= en ? 'WEB DESIGN' : '웹 디자인'
              div= en ? 'DEVELOPMENT' : '개발'
        div.fake.section-eye-left
          div.eye
        div.section-eye-left
          div.background-container
            video.background(src='/img/main/video-left.mp4', autoplay, muted, loop)
          div.eye
            div.label
              div= en ? 'GRAPHIC' : '그래픽'
              div= en ? 'DESIGN' : '디자인'
          div.geometry
            div.top
            div.bottom
        div.fake.section-eye-right
          div.eye
        div.section-eye-right
          div.background-container
            video.background(src='/img/main/video-right.mp4', autoplay, muted, loop)
          div.eye
            div.label
              div= en ? 'CONSULTING' : '컨설팅'
              div= en ? 'MANAGEMENT' : '매니지먼트'
          div.geometry
            div.top
            div.bottom
        div.languages
          div.language-container
            a.language-kor(class=!en && 'selected', href='/ko')
          div.language-container
            a.language-eng(class=en && 'selected', href='/')
        div.empty
          include ../img/logo.svg
      div.nav
        include ../img/logo.svg
        include ../img/logo-mobile.svg
        input#menu(type='checkbox')
        label.icon-menu(for='menu')
      div.panel-sidebar
        div.panel-menu
          div.panel-outline
          div.menu-header
            span.language-label Language
            a.language-kor(class=!en && 'selected', href='/ko')
            a.language-eng(class=en && 'selected', href='/')
          div.menu-item
            a(href='#about') PSS.D.A
            div.strike-through
          div.menu-item
            a#menu-portfolio(href='#portfolio') PORTFOLIO
            div.strike-through
          div.menu-item
            a#menu-limitless(href='#limitless') LIMITLESS
            div.strike-through
          div.menu-item
            a(href='#contact') CONTACT
            div.strike-through
          div.background
      div#portfolio
      each content in contents
        if (content.type == 'consulting')
          div.page-consulting.category#limitless(class=`category-${content.type}`)
            div.desc-container
              div.desc-top
                != content.content1[lang]
              div.contact-container
                a.contact(href=`#contact-${content.type}`)
              div.desc-center
                != content.content2[lang]
              div.contact-container
                a.contact(href=`#contact-${content.type}`)
              div.desc-bottom
                != content.content3[lang]
            div.page-desc
              div.panel-left
                div.panel-outline
                div.panel-content
                  div.panel-title
                    != content.title1[lang]
                  div.panel-body
                    != content.body1[lang]
                div.contact-container
                  a.contact(href=`#contact-${content.type}`)
            div.page-desc
              div.panel-right
                div.panel-outline
                div.contact-container
                  a.contact(href=`#contact-${content.type}`)
                div.panel-content
                  div.panel-body
                    != content.body2[lang]
                  div.panel-title
                    != content.title2[lang]
            div.half-champagne-right
            div.half-champagne-left
        else
          input.desc-switch(type='checkbox', id=content.name)
          label.page-desc.category(class=`category-${content.type}`, for=content.name)
            if (content.direction == 'left')
              div.picture(style=`background-image: url(${content.image})`)
              div.panel-left
                div.panel-outline
                div.panel-content
                  div.panel-title
                    != content.title[lang]
                  div.panel-body
                    != content.body[lang]
                div.contact-container
                  a.contact(href=`#contact-${content.type}`)
            else
              div.picture(style=`background-image: url(${content.image})`)
              div.panel-right
                div.panel-outline
                div.contact-container
                  a.contact(href=`#contact-${content.type}`)
                div.panel-content
                  div.panel-body
                    != content.body[lang]
                  div.panel-title
                    != content.title[lang]
      div.page-about#about
        div.horizontal
          div.about-1
          div.vertical
            div.about-2
            div.about-3
      div.page-about
        div.horizontal
          div.about-4
          div.about-5
      div.page-contact#contact
        div.champagne-static
        div.logo
          include ../img/logo-colored.svg
        div.corner-left
        div.corner-right
        form.contact-form(method='POST', enctype='multipart/form-data' action='https://prendssoin.com/api/pssda/contact')
          div.title CONTACT
          div.input-container
            div.row.center
              div.select
                select#select-type(type='select', name='type')
                  option(value='general') General
                  option(value='web') Web design & development
                  option(value='graphic') Graphic & design
                  option(value='consulting') Consulting & management
            div.row-logo#row-logo
              div.logo-preview: img
              input#input-logo(type='file', name='logo')
              div.logo-label
                span= en ? 'Please put your logo' : '로고를 업로드해주세요'
              div.logo-clear.hide
            div.row-block
              div.block-title: span What's your business
              div.radio-container
                each business, i in businesses
                  input(type='radio', id=`business-${i}`, name='business', value=business.id, checked=(i == 6))
                  label(for=`business-${i}`)= business.name[lang]
            div.row-block#row-color
              div.block-title: span Please select your color
              div.radio-container
                each color, i in colors
                  input(type='radio', id=`color-${i}`, name='color', value=`${color[0]} ${color[1]}`, checked=(i == 5))
                  label.palette(for=`color-${i}`)
                    if (i < 5)
                      div(style=`background-color: ${color[0]}`)
                      div(style=`background-color: ${color[1]}`)
                    else
                      span No choix
            div.row-block#row-style
              div.block-title: span Please select your style
              div.radio-container
                each style, i in styles
                  input(type='radio', id=`style-${i}`, name='style', value=style.id, checked=(i == 2))
                  label(for=`style-${i}`)= style.name[lang]
            div.row
              input(type='text', name='name', placeholder="Name (Company's name)")
            div.row
              input(type='text', name='contact', placeholder='Phone number or email')
            div.row
              textarea(rows='7', name='memo', placeholder='Memo')
          button.submit(type='submit') SEND
      svg#clip-defs(width='0', height='0')
        defs
          clipPath#clip-eye-left(clipPathUnits='objectBoundingBox')
            polygon(points='0 0, 0 1, .5 1, 0 0')
          clipPath#clip-eye-left-hover(clipPathUnits='objectBoundingBox')
            polygon(points='0 0, 0 1, .5 1, 1 0')
          clipPath#clip-eye-right(clipPathUnits='objectBoundingBox')
            polygon(points='1 0, 1 1, .5 1, 1 0')
          clipPath#clip-eye-right-hover(clipPathUnits='objectBoundingBox')
            polygon(points='1 0, 1 1, .5 1, 0 0')
          clipPath#clip-panel-left(clipPathUnits='objectBoundingBox')
            polygon(points='0 0, 0 1, 1 0')
          clipPath#clip-panel-right(clipPathUnits='objectBoundingBox')
            polygon(points='1 0, 1 1, 0 1')
          clipPath#clip-panel-sidebar(clipPathUnits='objectBoundingBox')
            polygon(points='0 0, 1 0, 1 1')
          clipPath#clip-corner-left(clipPathUnits='objectBoundingBox')
            polygon(points='0 0, 1 1, 0 1')
          clipPath#clip-corner-right(clipPathUnits='objectBoundingBox')
            polygon(points='1 0, 1 1, 0 1')